/*
Ну вдруг на телефоне откроют, а там стили поплывут, верно?
*/

header div:nth-child(2) {
    position: fixed;
    bottom: 15px;
    width: calc(100vw - 30px);

    justify-content: space-between;
}

.scroll-message {
    bottom: 70px;
}

.container {
    flex-direction: column;
}

.container.vert {
    padding: 0 15px;
    max-width: 100%;
}

.btns {
    grid-template-columns: repeat(auto-fill, 65px);
    width: auto;
}

.skills {
    width: auto;
}

.nav-link {
    width: -webkit-fill-available;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .nav-link img {
        margin: auto;
    }

    .nav-link span {
        display: none;
    }
}