    /* Overlay */
    .overlay {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    .overlay.active {
        display: block;
        opacity: 1;
    }

    /* Popup */
    .popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.8);
        background: #111;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        width: 300px;
        text-align: center;
        opacity: 0;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .popup.active {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }

    .popup img {
        width: 250px;
        margin: 10px auto;
        border-radius: var(--border-radius);
    }

    .popup button {
        background: #2f2f2f;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: var(--border-radius);
    }

    .popup button:hover {
        background: #222;
    }

    .popup .copy-field {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 10px 0;
        background: #1f1f1f;
        border-radius: var(--border-radius);
        padding: 10px 15px;
    }

    .popup .copy-field span {
        font-size: 14px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .popup .copy-field button {
        background: none;
        border: none;
        padding: 0;
    }

    /* Custom Alert */
    .custom-alert {
        position: fixed;
        bottom: 20px;
        left: 50%;
        transform: translateX(-50%) translateY(50px);
        background: #222;
        color: white;
        padding: 10px 20px;
        border-radius: var(--border-radius);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        opacity: 0;
        z-index: 1100;
        transition: opacity 0.3s ease, transform 0.3s ease;
    }

    .custom-alert.active {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
    }