body {
	font-family: 'Inter';
	user-select: none;
	margin: 0px;}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 400;
	font-display: swap;
	src: url("fonts/Inter-Regular.woff2") format("woff2");}
@font-face {
	font-family: 'Inter';
	font-style:  normal;
	font-weight: 700;
	font-display: swap;
	src: url("fonts/Inter-Bold.woff2") format("woff2");}
p, h1, h4, h5{
	color: rgba(255, 255, 255, 0.8);
}
.logo {
	margin: 5px;
	padding: 10px 10px 5px 10px;
	transition: 0.5s;
	border-radius: 15px;}
.logo:hover {background: rgba(155, 155, 155, 20%)}
.gradient {background-image: linear-gradient(to right top, #333227, #343127, #342f27, #342e27, #342d28, #342d28, #332c29, #332c29, #332c29, #332c29, #332c29, #332c29);}
.gradient {
	opacity: 0;
	transition: 1s;
	animation: show 1s 1;
	animation-fill-mode: forwards;
	animation-timing-function: ease;
	animation-delay: 0.3s;}
@keyframes show {0% {opacity: 0}100% {opacity: 1}}
header {
	margin: 10px;
	position: absolute;
	display: flex;
	align-items: center;}
center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100vh;}
content {
	display: flex;
	justify-content: space-around;
	padding: 35px;}
.btn {
	display: inline-block;
	text-decoration: none;
	border-radius: 15px;
	margin: 5px;
	background: rgba(155, 155, 155, 25%);
	box-shadow: 0 8px 15px rgba(155, 155, 155, 0.1);
	transition: 0.5s;}
.btn>.btnLogo {
	opacity: .5;
	filter: invert();
	vertical-align: -15px;
	transition: .3s;
	height: 25px !important;
	padding: 15px;}
.btn:hover>.btnLogo {opacity: 1}
#vk:hover {background: #0077FF}
#youtube:hover {background: #FF0000}
#metube:hover {background: #274fa3}
#tiktok:hover {background: #000000}
#openvk:hover {background: #3e4a57}
#vepurovk:hover {background: #74be69}
#github:hover {background: #181717}
#codeberg:hover {background: #2185D0}
#pda:hover {background: #0072bc}
#yoomoney > img{width: 25px}
#yoomoney:hover {background: #8b3ffd}
#da{width: 55px}
#da:hover {background: #F57D07}